<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kro.kr.rhya_network.seoulbukbudistrictofficeofeducationalert">



    <!--=========================================== [ PERMISSION ] ============================================-->
    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 인터넷 연결 확인 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Oreo 이상에서 Foreground 서비스를 위한 권한-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 저장소 접근 권한  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <!-- 시스템 재부팅 후 다시 실행 권한 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--=======================================================================================================-->



    <!--============================================ [ ACTIVITY ] =============================================-->
    <application
        android:clearTaskOnLaunch="false"

        android:screenOrientation="portrait"

        android:launchMode="singleTop"

        android:allowBackup="false"
        android:fullBackupContent="false"

        android:resizeableActivity="false"
        tools:targetApi="n"

        android:usesCleartextTraffic="true"

        android:hardwareAccelerated="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeoulBukbuDistrictOfficeOfEducationAlerts">


        <!-- Splash Activity [MAIN] -->
        <activity
            android:name="kro.kr.rhya_network.seoulbukbudistrictofficeofeducationalert.activity.ActivitySplash"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Activity -->
        <activity
            android:name="kro.kr.rhya_network.seoulbukbudistrictofficeofeducationalert.activity.ActivityHome"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"

            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
            </intent-filter>
        </activity>


        <!-- FCM [ Firebase Cloud Message ] 서비스 -->
        <service
            android:name="kro.kr.rhya_network.seoulbukbudistrictofficeofeducationalert.utils.FirebaseInstanceIDService"
            android:directBootAware="true"
            android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- FCM [ Firebase Cloud Message ] 서비스 설정 -->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
    </application>
    <!--========================================================================================================-->

</manifest>